POSTGRES_DB=django
POSTGRES_USER=appuser
POSTGRES_PASSWORD=appuserpassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_URL='postgresql+psycopg://appuser:appuserpassword@postgresdjango:5432/django'

# Django settings
PYTHONUNBUFFERED=1
DJANGO_SETTINGS_MODULE=project.settings
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@secret-source.eu
DJANGO_SUPERUSER_PASSWORD=somethinghardbutsimple
